In [12]:
from os import environ

import numpy as np
from pandas import DataFrame
from tools.interpretation import get_segments
from tools.trajectory import calculate_trajectory
from tools.enums import EMeasureUnits
from python_sdk.client import PyRogii

PROJECT_NAME = 'nsapegin (ft)'
WELL_NAME = 'Lateral1'
INTERPRETATION_NAME = 'Interpretation1'
measure_unit = EMeasureUnits.METER_FOOT


pr = PyRogii(
    client_id=environ.get('CLIENT_ID'),
    client_secret=environ.get('CLIENT_SECRET'),
    project_name=PROJECT_NAME,
    solo_username=environ.get('SOLO_USERNAME'),
    solo_password=environ.get('SOLO_PASSWORD'),
    papi_domain_name=environ.get('PAPI_DOMAIN_NAME')
)


def interpretation_dip_calculation():
    papi_well = pr.get_well(well_name=WELL_NAME)

    if not papi_well:
        print(f'Well "{papi_well["name"]}" not found')
        return

    well_trajectory = pr.get_well_trajectory(well_name=WELL_NAME)

    calculated_trajectory = calculate_trajectory(well_trajectory, papi_well, measure_unit=measure_unit)

    interpretation = pr.get_well_starred_interpretation(well_name=WELL_NAME)

    if not interpretation:
        interpretation = pr.get_well_interpretation(
            well_name=WELL_NAME, interpretation_name=INTERPRETATION_NAME
        )

    if not interpretation:
        print(f'Interpretation "{INTERPRETATION_NAME}" in the well "{WELL_NAME}" not found')
        return

    segments = get_segments(
        papi_well,
        assembled_segments=interpretation['segments'],
        assembled_horizons=interpretation['horizons'],
        calculated_trajectory=calculated_trajectory,
        measure_unit=measure_unit
    )

    _df = DataFrame(segments, columns=['md', 'dip'])
    np_array = _df.to_numpy()
    axe = np.arange(np_array[0, 0], np_array[-1, 0], 50.0)
    axe = np.unique(np.append(axe, np_array[:, 0]))
    axe.sort()
    interpolated_dip = np.interp(axe, np_array[:, 0], np_array[:, 1])
    _result_df = DataFrame((axe, interpolated_dip), index=['md', 'dip']).transpose()
    return _df, _result_df


df, result_df = interpretation_dip_calculation()
df

             md         dip
0   3439.650526   92.213120
1   3508.552800   98.565274
2   3537.508800   91.455664
3   3714.292800   91.674925
4   3979.684251   90.025220
5   4084.549663   90.623995
6   4221.449520   91.574348
7   4264.277649   91.092151
8   4313.438160   94.867358
9   4340.504400   92.041099
10  4409.236800   99.703043
11  4439.521728  114.855062
12  4451.760553   89.360383
13  4509.717168   91.303498
14  4564.727472   91.176290
15  4646.203560   91.904264
16  4724.994360   90.185313
17  4758.898179   90.919464
18  4866.894000   91.217567
19  5137.099200   91.217567

In [13]:
result_df

              0           1
0   3439.650526   92.213120
1   3489.650526   96.822659
2   3508.552800   98.565274
3   3537.508800   91.455664
4   3539.650526   91.458320
5   3589.650526   91.520334
6   3639.650526   91.582348
7   3689.650526   91.644361
8   3714.292800   91.674925
9   3739.650526   91.517298
10  3789.650526   91.206492
11  3839.650526   90.895686
12  3889.650526   90.584880
13  3939.650526   90.274074
14  3979.684251   90.025220
15  3989.650526   90.082127
16  4039.650526   90.367624
17  4084.549663   90.623995
18  4089.650526   90.659405
19  4139.650526   91.006503
20  4189.650526   91.353601
21  4221.449520   91.574348
22  4239.650526   91.369425
23  4264.277649   91.092151
24  4289.650526   93.040623
25  4313.438160   94.867358
26  4339.650526   92.130260
27  4340.504400   92.041099
28  4389.650526   97.519663
29  4409.236800   99.703043
30  4439.521728  114.855062
31  4439.650526  114.586763
32  4451.760553   89.360383
33  4489.650526   90.630723
34  4509.717168   91.303498
35  4539.650526   91.234279
36  4564.727472   91.176290
37  4589.650526   91.398973
38  4639.650526   91.845714
39  4646.203560   91.904264
40  4689.650526   90.956397
41  4724.994360   90.185313
42  4739.650526   90.502677
43  4758.898179   90.919464
44  4789.650526   91.004350
45  4839.650526   91.142366
46  4866.894000   91.217567
47  4889.650526   91.217567
48  4939.650526   91.217567
49  4989.650526   91.217567
50  5039.650526   91.217567
51  5089.650526   91.217567
52  5137.099200   91.217567